---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Our variables
$base-font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fefefe;
$brand-color:      #00d0a3;

$grey-color:       #222;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    720px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from the `minima` theme.
@import "minima";

h1, h2, h3, h4 {
  font-weight: 700;
  font-family: "Avenir Next Condensed", Helvetica, Arial, sans-serif;
}

h3 {
  margin-top: 3rem;
}

body {
    font-size: 1.1em;
}

.site-nav {
    font-size: 0.8rem;
    line-height: 80px;
}

.site-title {
    font-size: 4.2rem;
    line-height: 80px;
    font-family: "Avenir Next Condensed", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: $text-color;
}

.site-title:visited {
    color: $text-color;
}

.site-header {
    border-top: 2px solid #00d0a3;
    border-bottom: 0px;
    font-family: "Avenir Next Condensed", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: $text-color;
}

.description {
    font-size: 0.8rem;
    font-weight: 700;
}

.page-content {
  padding: 0px;
}

/* Pagination */
.next {
    float: right;
}

/* Posts */
.post-link {
    color: $text-color;
    font-size: 1.9rem;
}

.post-title {
    font-size: 2.2rem;
}

.post-meta {
    font-weight: 700;
}

hr {
    border: 1px solid transparent;
  }

img {
	display: block; 
    margin: auto;
    padding: 0.5rem;
}

.site-footer {
    border-top: 0px;
}

@include media-query($on-palm) {

    body {
        font-size: 1.0rem;
        line-height: 1.9rem;
    }

    .site-nav {
        border: 0px;
        display:inline-block;
        width:100%;
        position: initial;
        text-align: left;
        line-height: 30px;
        padding-top:0px;

        .page-link {
            padding: 1px 10px 1px 1px;
            margin-left:0px;
            display: inline;
        }
    }

    .post-link {
        font-size: 1.4rem;
    }
}
