---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a class="post-meta" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
        {% if post.format != 'status' %}
          <h2>
          {% if post.linked_list_url != nil %}
              <a class="post-link" href="{{ post.linked_list_url }}">{{ post.title | escape }}</a>
          {% else %}
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          {% endif %}
          </h2>
        {% endif %}
        <div class="post-content">
          {{ post.content }}
        </div>
      </li>

      {% if post != paginator.posts.last %}
          <hr>
      {% endif %}

    {% endfor %}
  </ul>

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

</div>
