<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>

    <nav class="site-nav">
        {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | escape }}</a>
            {% endif %}
        {% endfor %}
        <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        <a class="page-link" href="https://hartl.co/apps">Apps</a>
        <a class="page-link" href="http://twitter.com/{{ site.twitter_username }}" rel="me"/>Twitter</a>
        <a class="page-link" href="http://github.com/{{ site.github_username }}" rel="me"/>Github</a>
		<a class="page-link" href="https://micro.blog/hartlco" rel="me"/>Micro.blog</a>
    </nav>
  </div>
  <div class="wrapper">
      <p class="description">{{ site.description | escape }}</p>
  </div>

</header>
